body {
  font-family: 'xplor', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url('/assets/images/mountains.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: auto 150%;
  color: #333;
  cursor: url('/assets/cursors/normal.cur'), auto;
}

header {
  font-family: 'Hades', sans-serif;
  background-color: rgba(0, 0, 0, 0.5); /* Black transparent background */
  text-align: center;
  min-height: 100vh; /* Full height */
  color: white;
  padding: 1em 0;
  margin: 0 1em;
  writing-mode: vertical-rl; /* Make text vertical */
  width: 50px;
  position: fixed; /* Stick to the left side */
  top: 0;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  font-family: 'Moon', sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5); /* White transparent background */
  width: 50px; /* Adjusted for vertical text */
  height: 100vh; /* Full height */
  position: fixed; /* Stick to the left side */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
nav a {
  color: black;
  padding: .25em;
  margin: 1em;
  text-decoration: none;
  writing-mode: vertical-rl; /* Make text vertical */
  transform: rotate(180deg); /* Rotate text to read top-to-bottom */
  border-radius: 10px; /*Rounded corners */
}
nav a:hover {
  background: linear-gradient(
    90deg,
    rgba(232, 122, 206, 1) 0%,
    rgba(250, 255, 92, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  /*background-color: rgba(0, 150, 255, 0.5); /*Transparent blue on hover*/
}

.selected {
  background: rgb(232, 122, 206);
  background: linear-gradient(
    250deg,
    rgba(232, 122, 206, 1) 0%,
    rgba(250, 255, 92, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

a:hover {
  cursor: url('/assets/cursors/link.cur'), grab;
}
p:hover {
  cursor: url('/assets/cursors/text.cur'), text;
}
h2 {
  font-family: 'Moon', sans-serif;
  font-size: 50px;
}
footer a {
  color: #daa520;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 1em auto;
  border-radius: 10px; /* Rounded corners for images */
}
section {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-left: 170px; /* Adjusted space for the fixed nav and header */
  width: calc(100% - 245px); /* Adjust width for the nav and header */
}
.box {
  background-color: rgba(255, 255, 255, 0.5); /* White transparent background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 1.5em;
  margin: 2em 0;
}
.about {
  text-align: center;
  word-break: break-word;
}
.featured {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.featured-image,
.featured-description {
  width: 50%;
  margin: 1em;
}
.submit-map-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-info {
  display: flex;
}
.form-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 1em;
  padding: 2em;
}
label {
  margin: 0.5em;
}
textarea {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
input {
  border-radius: 5px;
}
footer {
  display: flex;
  justify-content: flex-end;
  margin-left: 150px; /* Adjusted space for the fixed nav and header */
  width: calc(100% - 214px); /* Adjust width for the nav and header */
  bottom: 0;
  color: white;
  padding: 2em;
}
#title {
  font-family: 'Hades', sans-serf;
}
